<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ukltraq.net.nz/thymeleaf/layout">
<head>
	<title>Eventos APP</title>
	<!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="materialize/css/materialize.min.css"  media="screen,projection"/>
    
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    
    <link rel="stylesheet" href="style/styleCss.css"/>
</head>
<body>
	<header>
		<nav>
    		<div class="nav-wrapper">
      			<a href="#" class="brand-logo">Evento</a>
      			<ul id="nav-mobile" class="right hide-on-med-and-down">
        			<li><a href="/eventos" class="waves-effect waves-light btn"><i class="material-icons left">format_list_bulleted</i>Lista de Evento</a></li>
      			</ul>
    		</div>
  		</nav>
	</header>
	
	
	<div th:each="evento : ${evento}" class="container detalhesEvento">
	<h5>Detalhes do Evento:</h5>
		<div class="row">
			<p>Nome: <samp th:text="${evento.nome}"></samp></p>
			<p>Local: <samp th:text="${evento.local}"></samp></p>
			<p>Data: <samp th:text="${evento.data}"></samp></p>
			<p>Horario: <samp th:text="${evento.horario}"></samp></p>
		</div>
	</div>	
		<th:block th:include="mensagemValidacao"></th:block>
		<div class="container formConvidado">		
			<form method="post">
				Nome: <input type="text" value="" name="nomeConvidado"/>
				RG: <input type="text" value="" name="rg"/>
				<button type="submit"class="waves-effect waves-light btn"><i class="material-icons left">add_circle_outline</i>Adicionar</button>
			</form>	
		</div>
	
	<table class="container tabelaConvidado">
		<thead>
			<tr>
				<th>Nome Convidao</th>
				<th>RG</th>
				<th>Deletar</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="convidado : ${convidados}">
				<td><span th:text="${convidado.nomeConvidado}"></span></td>
				<td><span th:text="${convidado.rg}"></span></td>
				<td><a th:href="${(#mvc.url('EC#deletarConvidado').arg(0, convidado.rg)).build()}"><i class="material-icons left">delete_forever</i></a></td>
			</tr>
		</tbody>
				
	</table>	
		
	<script type="text/javascript" src="materialize/js/materialize.min.js"></script>
</body>
</html>